/*IE DEBUG*/

*+html {
	zoom: 1;
}

*+html #footer .footerContact .social {
	width: 175px;
}

*+html #footer .footerContact .social a {
	position: relative;
	top: -12px;
}

*+html .about #content {
	height: 1200px;
}

*+html .portfolio .filter ul {
	display: none;
}

*+html .portfolio .filter:hover ul {
	display: block;
}

*+html .contact .facebookContainer {
	width: 210px;
}