html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
} 

body { 
	line-height:1;
}
 
ol, ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}

ins {
	text-decoration:none;
}

del {
	text-decoration:line-through;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

input, textarea {
	outline:0;
}

@font-face {
	font-family:'dinbold';
	src:url('../fonts/ff_din_bold-webfont.eot');
	src:url('../fonts/ff_din_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ff_din_bold-webfont.woff') format('woff'), url('../fonts/ff_din_bold-webfont.ttf') format('truetype'), url('../fonts/ff_din_bold-webfont.svg#DINBold') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'din';
	src:url('../fonts/ff_din_regular-webfont.eot');
	src:url('../fonts/ff_din_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ff_din_regular-webfont.woff') format('woff'), url('../fonts/ff_din_regular-webfont.ttf') format('truetype'), url('../fonts/ff_din_regular-webfont.svg#DINRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'lubalin';
	src:url('../fonts/lubalingraphitcbybt-book-webfont.eot');
	src:url('../fonts/lubalingraphitcbybt-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lubalingraphitcbybt-book-webfont.woff') format('woff'), url('../fonts/lubalingraphitcbybt-book-webfont.ttf') format('truetype'), url('../fonts/lubalingraphitcbybt-book-webfont.svg#LubalGraphBkBTBook') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'lubalinthin';
	src:url('../fonts/lubalingraphitcbybt-xtralight-webfont.eot');
	src:url('../fonts/lubalingraphitcbybt-xtralight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lubalingraphitcbybt-xtralight-webfont.woff') format('woff'), url('../fonts/lubalingraphitcbybt-xtralight-webfont.ttf') format('truetype'), url('../fonts/lubalingraphitcbybt-xtralight-webfont.svg#LubalGraphXLtBTExtraLight') format('svg');
	font-weight:normal;
	font-style:normal;
}

html {
	background:#000;
}

body {
	background:#000;
	font-size:12px;
	font-family:sans-serif;
	color:#fff;
}

a {
	color:#fff;
	text-decoration:none;
} 

.clear {
	display:block;
	clear:both;
	height:0;
}

input.hidden {
	position:absolute;
	top:-999em;
	left:-999em;
}

.button, .button.red:hover {
	display:block;
	float:left;
	height:46px;
	overflow:hidden;
	padding-left:24px;
	line-height:38px;
	background:url(../images/sprites.png) 0 -202px no-repeat;
	text-transform:uppercase;
	font-family:"dinbold";
}

.button span, .button.red:hover span {
	display:block;
	float:left;
	height:46px;
	padding-right:24px;
	background:url(../images/sprites.png) right -248px no-repeat;
	text-shadow:none;
}

.button:hover, .button.red {
	text-shadow:0 -1px 0 #bd0000;
	background:url(../images/sprites.png) 0 -294px no-repeat;
}

.button:hover span, .button.red span {
	background:url(../images/sprites.png) right -340px no-repeat;
}

.bloc {
	opacity:0;
}

.backtotop {
	position:absolute;
	bottom:30px;
	right:0;
	display:block;
	color:#f00000;
	font-family:"din";
	padding:5px 0;
	font-size:10px;
	line-height:8px;
	text-transform:uppercase;
}

.clients .backtotop {
	margin-right:20px;
}

.backtotop span {
	clear:both;
	display:block;
	float:left;
	background:url(../images/sprites.png) -140px -84px no-repeat;
	height:8px;
	width:8px;
	margin-right:5px;
}

#header {
	width:915px;
	height:124px;
	margin:0 auto;
	padding-top:24px;
	position:relative;
	background:url(../images/home-like.gif) 418px 28px no-repeat;
}

.nl #header {
	background:url(../images/home-like.gif) 388px 28px no-repeat;
}

.pagenotfound #header {
	background:0;
}

#header .logo {
	display:block;
	float:left;
	height:117px;
	width:197px;
	background:url(../images/logo.png) 0 -117px no-repeat;
}

#header .logo img {
	display:none;
}

#header .mainNav {
	display:block;
	float:right;
	padding-top:80px;
}

#header .mainNav li {
	display:inline;
	position:relative;
}

#header .mainNav a {
	display:block;
	float:left;
	width:112px;
	height:24px;
	background:#171616;
	margin-right:4px;
	font-family:'dinbold';
	text-transform:uppercase;
	line-height:24px;
	text-align:center;
	-webkit-transition:background .2s linear;
	-moz-transition:background .2s linear;
	transition:background .2s linear;
}

#header .mainNav .about a {
	background:#121010;
}

#header .mainNav .portfolio a {
	background:#171616;
}

#header .mainNav .services a {
	background:#1e1e1e;
}

#header .mainNav .testimonies a {
	background:#262626;
}

#header .mainNav .clients a {
	background:#1e1e1e;
}

#header .mainNav .contact a {
	background:#171616;
	margin-right:0;
}

#header .mainNav li, #footer .footerNav li {
	background:0;
}

#header .mainNav a:hover {
	background:#333;
}

#header .mainNav .current a {
	background:#300;
	color:#f00;
}

#header .mainNav li {
	display:block;
	float:left;
	height:24px;
}

#header .mainNav .corner {
	display:block;
	position:absolute;
	top:24px;
	right:0;
	width:47px;
	height:16px;
	background:url(../images/sprites.png) 0 -141px no-repeat;
}

#header .options {
	position:absolute;
	top:0;
	right:0;
}

#header .languageSelect, #header .access {
	display:block;
	float:left;
	width:112px;
	height:24px;
	overflow:hidden;
	line-height:24px;
}

#header .languageSelect {
	color:#8b8b8b;
	font-family:"din";
	background:#181616;
	text-align:center;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	transition:all .2s linear;
}

#header .languageSelect:hover {
	background:#333;
	color:#fff;
}

#header .access {
	font-size:11px;
	background:#f00000;
	text-transform:uppercase;
	font-family:"dinbold";
}

.nl #header .access {
	width:145px;
}

#header .access span {
	display:block;
	float:left;
	height:24px;
	width:20px;
	background:url(../images/sprites.png) -45px -92px no-repeat;
}

#content {
	padding-bottom:50px;
	width:915px;
	margin:0 auto;
	position:relative;
}

.homepage #content {
	width:100%;
}

.homepage #slides {
	display:block;
	position:relative;
	height:508px;
	background:url(../images/home-slider-bg.jpg) center 24px repeat-x;
	overflow:hidden;
	min-width:915px;
}

#sequence-preloader.preloading-complete {
	opacity:0;
	visibility:hidden;
}

.homepage .slides_container.preloading-complete {
	opacity:1;
	-webkit-transition-duration:.5s;
	-moz-transition-duration:.5s;
	-o-transition-duration:.5s;
	-ms-transition-duration:.5s;
	transition-duration:.5s;
}

#sequence-preloader {
	background:0;
	height:100%;
	position:absolute;
	width:100%;
	z-index:99;
}

@keyframes preload {
	0% {
	opacity:0;
}

50% {
	opacity:1;
}

100% {
	opacity:0;
}

}@-moz-keyframes preload {
	0% {
	opacity:0;
}

50% {
	opacity:1;
}

100% {
	opacity:0;
}

}@-webkit-keyframes preload {
	0% {
	opacity:0;
}

50% {
	opacity:1;
}

100% {
	opacity:0;
}

}@-ms-keyframes preload {
	0% {
	opacity:0;
}

50% {
	opacity:1;
}

100% {
	opacity:0;
}

}@-o-keyframes preload {
	0% {
	opacity:0;
}

50% {
	opacity:1;
}

100% {
	opacity:0;
}

}#sequence-preloader img {
	background:#b90000;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	height:12px;
	opacity:0;
	position:relative;
	top:-50%;
	width:12px;
	-webkit-animation:preload 1s infinite;
	-moz-animation:preload 1s infinite;
	-ms-animation:preload 1s infinite;
	-o-animation:preload 1s infinite;
	animation:preload 1s infinite;
}

.preloading {
	height:12px;
	margin:0 auto;
	top:50%;
	position:relative;
	width:48px;
}

#sequence-preloader img:nth-child(2) {
	-webkit-animation-delay:.15s;
	-moz-animation-delay:.15s;
	-ms-animation-delay:.15s;
	-o-animation-delay:.15s;
	animation-delay:.15s;
}

#sequence-preloader img:nth-child(3) {
	-webkit-animation-delay:.3s;
	-moz-animation-delay:.3s;
	-ms-animation-delay:.3s;
	-o-animation-delay:.3s;
	animation-delay:.3s;
}

.homepage .slides_container {
	width:960px;
	height:508px;
	margin:0 auto;
	position:relative;
	display:block;
	overflow:hidden;
	opacity:0;
	background:url(../images/slides-bg.png) 0 24px no-repeat;
}

.homepage .slides_container li>* {
	position:absolute;
}

.homepage .slides_container li .info-ttl, .homepage .slides_container li .info-txt {
	position:relative;
	float:right;
	clear:right;
}

.homepage .slides_container li h1 {
	font-family:"lubalinthin";
	color:#fff;
	position:relative;
	float:right;
	font-size:60px;
	line-height:60px;
	padding-top:50px;
	padding-top:130px;
	padding-bottom:24px;
	text-transform:uppercase;
	z-index:99;
	width:450px;
}

.homepage .slides_container li p {
	color:#fff;
	float:right;
	clear:right;
	position:relative;
	font-family:"din";
	font-size:17px;
	line-height:19px;
	padding-bottom:24px;
	z-index:99;
	width:450px;
}

.homepage #slides li .button {
	position:relative;
	float:left;
	margin-right:10px;
	z-index:100;
}

#header .options .fb-like {
	margin:3px;
	float:left;
}

.homepage .slides_container li .element {
	display:block;
	position:absolute;
	z-index:1;
}

.homepage .slides_container li p strong {
	font-family:"dinbold";
}

.homepage #slides .next, .homepage #slides .prev {
	display:none;
}

.homepage #slides .pagination {
	display:block;
	position:absolute;
	bottom:0;
	left:50%;
	margin:0 0 0 -480px;
	width:960px;
	height:100px;
	background:url(../images/home-slider-faces-1px.png) center bottom no-repeat;
	z-index:99;
	text-align:center;
}

.homepage #slides .pagination ul {
	display:none;
}

.homepage #slides .pagination li {
	display:inline;
	text-align:center;
	position:relative;
}

.homepage #slides .pagination li a {
	display:inline-block;
	background:black;
	height:24px;
	width:22px;
	line-height:32px;
	font-family:"dinbold";
	color:#f00000;
	background:url(../images/sprites.png) 0 -92px no-repeat;
	overflow:hidden;
	margin:0 3px;
}

.homepage #slides .pagination li.current a, .homepage #slides .pagination li:hover a {
	color:#fff;
	background:url(../images/sprites.png) -22px -92px no-repeat;
}

.homepage #slides .slide-img,
.homepage #slides .info-ttl.animate-in,
.homepage #slides .info-ttl.animate-out {
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}




/*DELACRE*/

.homepage #slides #delacre .bg.animate-in {
	left: 0;
	opacity: 1;
}
.homepage #slides #delacre .info-ttl.animate-in {
	left: -5%;
	opacity: 1;
}

.homepage #slides #delacre .bg,
.homepage #slides #delacre .info-ttl {
	left: -100%;
	opacity: 0;
}

.homepage #slides #delacre .bg.animate-out,
.homepage #slides #delacre .info-ttl.animate-out {
	left: 100%;
	opacity: 0;
}


.homepage #slides #delacre .slide-img.animate-in {
	left: 70px;
	top: 14px;
	opacity: 1;
}
.homepage #slides #delacre .info-txt.animate-in {
	left: -5%;
	opacity: 1;
}

.homepage #slides #delacre .slide-img,
.homepage #slides #delacre .info-txt {
	left: -200%;
	opacity: 0;
}

.homepage #slides #delacre .slide-img.animate-out,
.homepage #slides #delacre .info-txt.animate-out {
	left: 200%;
	opacity: 0;
}





/*PASSPORT2EUROPE*/

.homepage #slides #passport2europe .bg.animate-in {
	left: 0;
	opacity: 1;
}
.homepage #slides #passport2europe .info-ttl.animate-in {
	left: -5%;
	opacity: 1;
}

.homepage #slides #passport2europe .bg,
.homepage #slides #passport2europe .info-ttl {
	left: -100%;
	opacity: 0;
}

.homepage #slides #passport2europe .bg.animate-out,
.homepage #slides #passport2europe .info-ttl.animate-out {
	left: 100%;
	opacity: 0;
}


.homepage #slides #passport2europe .slide-img.animate-in {
	left: 70px;
	top: 14px;
	opacity: 1;
}
.homepage #slides #passport2europe .info-txt.animate-in {
	left: -5%;
	opacity: 1;
}

.homepage #slides #passport2europe .slide-img,
.homepage #slides #passport2europe .info-txt {
	left: -200%;
	opacity: 0;
}

.homepage #slides #passport2europe .slide-img.animate-out,
.homepage #slides #passport2europe .info-txt.animate-out {
	left: 200%;
	opacity: 0;
}


/*DESPERADOS*/

.homepage #slides #desperados .bg.animate-in,
.homepage #slides #desperados .info-ttl.animate-in {
	left: 0;
	opacity: 1;
}

.homepage #slides #desperados .bg,
.homepage #slides #desperados.info-ttl {
	left: -100%;
	opacity: 0;
}

.homepage #slides #desperados .bg.animate-out,
.homepage #slides #desperados .info-ttl.animate-out {
	left: 100%;
	opacity: 0;
}


.homepage #slides #desperados .slide-img.animate-in,
.homepage #slides #desperados .info-txt.animate-in {
	left: 0;
	opacity: 1;
}

.homepage #slides #desperados .slide-img {
	top: 24px;
	left: -200%;
	opacity: 0;
}
.homepage #slides #desperados .info-txt {
	left: -200%;
	opacity: 0;
}

.homepage #slides #desperados .slide-img.animate-out {
	left: 200%;
	opacity: 0;
}
.homepage #slides #desperados .info-txt.animate-out {
	left: 200%;
	opacity: 0;
}




/*PANZANI*/

.homepage #slides #panzani .bg.animate-in,
.homepage #slides #panzani .info-ttl.animate-in {
	left: 0;
	opacity: 1;
}

.homepage #slides #panzani .bg,
.homepage #slides #panzani .info-ttl {
	left: -100%;
	opacity: 0;
}

.homepage #slides #panzani .bg.animate-out,
.homepage #slides #panzani .info-ttl.animate-out {
	left: 100%;
	opacity: 0;
}


.homepage #slides #panzani .slide-img.animate-in,
.homepage #slides #panzani .info-txt.animate-in {
	left: 0;
	opacity: 1;
}

.homepage #slides #panzani .slide-img,
.homepage #slides #panzani .info-txt {
	left: -200%;
	opacity: 0;
}

.homepage #slides #panzani .slide-img.animate-out,
.homepage #slides #panzani .info-txt.animate-out {
	left: 200%;
	opacity: 0;
}


.homepage #slides .info-ttl {
	left:160%;
	z-index:5;
	opacity:0;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides .info-ttl.animate-in {
	left:0;
	opacity:1;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides .info-ttl.animate-out {
	left:-100%;
	opacity:0;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides .info-txt {
	left:200%;
	z-index:4;
	opacity:0;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides .info-txt.animate-in {
	left:0;
	opacity:1;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides .info-txt.animate-out {
	left:-100%;
	opacity:0;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides .bg {
	top:24px;
	z-index:0;
	left:160px;
	opacity:0;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides .bg.animate-in {
	left:0;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
	opacity:1;
}

.homepage #slides .bg.animate-out {
	left:-160px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
	opacity:0;
}

.homepage #slides li .buttonContainer {
	position:absolute;
	z-index:2;
	bottom:100px;
	right:-3000px;
	opacity:0;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides li .buttonContainer.animate-in {
	opacity:1;
	right:25px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides li .buttonContainer.animate-out {
	opacity:0;
	right:3000px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}




/*umedia*/
.homepage #slides #umedia .buttonContainer.fr.animate-in {
	right:15px;
}

.homepage #slides #umedia .buttonContainer.nl.animate-in {
	right:80px;
}

.homepage #slides #umedia .umedia-img {
	top:55px;
	left:991px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #umedia .umedia-img.animate-in {
	top:55px;
	left:-29px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #umedia .umedia-img.animate-out {
	top:55px;
	left:-2000px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #umedia h1 {
	width:500px;
	padding-top:86px;
	padding-bottom:14px;
	font-size:55px;
	line-height:55px;
}

.homepage #slides #umedia p {
	width:500px;
}




/* thalys */

.homepage #slides #thalys .buttonContainer.fr.animate-in {
	right:15px;
}

.homepage #slides #thalys .buttonContainer.nl.animate-in {
	right:80px;
}

.homepage #slides #thalys .thalys-img {
	top:80px;
	left:960px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #thalys .thalys-img.animate-in {
	top:80px;
	left:-61px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #thalys .thalys-img.animate-out {
	top:40px;
	left:-2000px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #thalys h1 {
	width:490px;
	padding-top:129px;
	padding-bottom:14px;
	font-size:75px;
	line-height:65px;
}

.homepage #slides #thalys p {
	width:490px;
}







.homepage #slides #evian .buttonContainer.fr.animate-in {
	right:2px;
}

.homepage #slides #evian .buttonContainer.nl.animate-in {
	right:0px;
}

.homepage #slides #evian .evian-img {
	top:40px;
	left:960px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #evian .evian-img.animate-in {
	top:40px;
	left:61px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #evian .evian-img.animate-out {
	top:40px;
	left:-2000px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #evian h1 {
	width:535px;
	padding-top:129px;
	padding-bottom:14px;
	font-size:75px;
	line-height:65px;
}

.homepage #slides #evian p {
	width:535px;
}









.homepage #slides #peterman .buttonContainer.fr.animate-in {
	right:2px;
}

.homepage #slides #peterman .buttonContainer.nl.animate-in {
	right:0px;
}

.homepage #slides #peterman .peterman-img {
	top:53px;
	left:960px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #peterman .peterman-img.animate-in {
	top:53px;
	left:-15px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #peterman .peterman-img.animate-out {
	top:53px;
	left:-2000px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #peterman h1 {
	width:457px;
	padding-top:114px;
	padding-bottom:14px;
}

.homepage #slides #peterman p {
	width:457px;
}



.homepage #slides #dyod .buttonContainer.fr.animate-in {
	right:2px;
}

.homepage #slides #dyod .buttonContainer.nl.animate-in {
	right:25px;
}


.homepage #slides #dyod .dyod-img {
	top:10px;
	left:960px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #dyod .dyod-img.animate-in {
	top:10px;
	left:60px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #dyod .dyod-img.animate-out {
	top:10px;
	left:-2000px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #dyod h1 {
	width:448px;
	padding-top:114px;
	padding-bottom:14px;
}

.homepage #slides #dyod p {
	width:448px;
}

.homepage #slides #viage .buttonContainer.fr.animate-in {
	right:8px;
}

.homepage #slides #viage .buttonContainer.nl.animate-in {
	right:25px;
}

.homepage #slides #viage .viage-img {
	top:23px;
	left:960px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #viage .viage-img.animate-in {
	top:23px;
	left:-69px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #viage .viage-img.animate-out {
	top:23px;
	left:-2000px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #viage h1 {
	width:468px;
	padding-top:84px;
	padding-bottom:14px;
}

.homepage #slides #viage p {
	width:468px;
}

.homepage #slides #leleux .buttonContainer.fr.animate-in {
	right:1px;
}

.homepage #slides #leleux .buttonContainer.nl.animate-in {
	right:8px;
}

.homepage #slides #leleux .leleux-img {
	top:102px;
	left:960px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #leleux .leleux-img.animate-in {
	top:102px;
	left:4px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #leleux .leleux-img.animate-out {
	top:102px;
	left:-2000px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #leleux h1 {
	width:522px;
}

.homepage #slides #leleux p {
	width:522px;
}

.homepage #slides #bn .buttonContainer.fr.animate-in {
	right:25px;
}

.homepage #slides #bn .buttonContainer.nl.animate-in {
	right:-5px;
}

.homepage #slides #bn .bn-img1 {
	top:24px;
	left:960px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #bn .bn-img1.animate-in {
	top:24px;
	left:0;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #bn .bn-img1.animate-out {
	top:24px;
	left:-2000px;
	-webkit-transition-duration:1.1s;
	-moz-transition-duration:1.1s;
	-o-transition-duration:1.1s;
	-ms-transition-duration:1.1s;
	transition-duration:1.1s;
}

.homepage #slides #bn .bn-img2 {
	top:45px;
	left:1600px;
	opacity:0;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
	-webkit-transform:rotate(-170deg);
	-moz-transform:rotate(-170deg);
	-o-transform:rotate(-170deg);
	-ms-transform:rotate(-170deg);
	transform:rotate(-170deg);
}

.homepage #slides #bn .bn-img2.animate-in {
	top:45px;
	left:357px;
	opacity:1;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg);
}

.homepage #slides #bn .bn-img2.animate-out {
	top:45px;
	left:-1500px;
	opacity:0;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
	-webkit-transform:rotate(170deg);
	-moz-transform:rotate(170deg);
	-o-transform:rotate(170deg);
	-ms-transform:rotate(170deg);
	transform:rotate(170deg);
}

.homepage #slides #bn .bn-img3 {
	top:31px;
	left:2000px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
	-webkit-transform:rotate(170deg);
	-moz-transform:rotate(170deg);
	-o-transform:rotate(170deg);
	-ms-transform:rotate(170deg);
	transform:rotate(170deg);
}

.homepage #slides #bn .bn-img3.animate-in {
	top:31px;
	left:825px;
	-webkit-transition-duration:1.2s;
	-moz-transition-duration:1.2s;
	-o-transition-duration:1.2s;
	-ms-transition-duration:1.2s;
	transition-duration:1.2s;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg);
}

.homepage #slides #bn .bn-img3.animate-out {
	top:31px;
	left:-1000px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
	-webkit-transform:rotate(-170deg);
	-moz-transform:rotate(-170deg);
	-o-transform:rotate(-170deg);
	-ms-transform:rotate(-170deg);
	transform:rotate(-170deg);
}

.homepage #slides #bn h1 {
	font-size:70px;
}

.homepage #slides #noukies .buttonContainer.fr.animate-in {
	right:0;
}

.homepage #slides #noukies .buttonContainer.nl.animate-in {
	right:21px;
}

.homepage #slides #noukies .noukies-img {
	top:0;
	left:960px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #noukies .noukies-img.animate-in {
	top:0;
	left:0;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #noukies .noukies-img.animate-out {
	top:0;
	left:-2000px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s;
}

.homepage #slides #noukies h1 {
	font-size:60px;
	line-height:55px;
}

.homepage .homeArticles {
	width:915px;
	background:url(../images/home-article-bg.png) -22px top repeat-y;
	overflow:hidden;
	margin:100px auto;
}

.homepage .homeArticles .col {
	position:relative;
	float:left;
	width:283px;
	padding:0 20px 50px 20px;
}

.homepage .homeArticles .col.first {
	padding-left:0;
	width:276px;
}

.homepage .homeArticles .col.last {
	padding-right:0;
	width:276px;
}

.homepage .homeArticles .col h2 {
	color:#f00000;
	font-family:"lubalinthin";
	font-size:36px;
	text-transform:uppercase;
	padding-bottom:24px;
}

.homepage .homeArticles .col p {
	color:#b3b3b3;
	font-family:"din";
	font-size:14px;
	line-height:18px;
	padding-bottom:24px;
}

.homepage .homeArticles .col .button {
	position:absolute;
	bottom:0;
	right:20px;
}

.homepage .homeArticles .col.last .button {
	right:0;
}

.about {
	position:relative;
	/*overflow-x:hidden;*/
	background:#000 url(../images/generic-bg.jpg) center 120px no-repeat;
}

.about #content {
	padding-top:60px;
	overflow:hidden;
	width:100%;
}

.about #content #contentContainer {
	position:relative;
	width:915px;
	margin:0 auto;
}

.about #content .citation {
	right:0px;
	top:6px;
}

.about #content h1 {
	text-indent:-999em;
	overflow:hidden;
	background:url(../images/titles.png) 0 0 no-repeat;
	height:70px;
	margin-top:-16px;
}

.nl.about #content h1 {
	background:url(../images/titles-nl.png) 0 0 no-repeat;	
}

.about #content h2 {
	color:#f00;
}

.about .teamArticle {
	clear:left;
}

.about .teamArticle {
	float:left;
	width:404px;
	overflow:hidden;
}

.about .agencyArticle {
	display:block;
	clear:both;
	padding:30px 0;
	overflow:hidden;
}

.about .agencyArticle h1 {
	font-family:"lubalinthin";
	font-size:60px;
	text-transform:uppercase;
	padding-bottom:40px;
	color:#f00000;
}

.about .teamArticle h2, .about .agencyArticle h2 {
	font-family:"lubalinthin";
	font-size:38px;
	text-transform:uppercase;
	padding-bottom:24px;
}

.about .teamArticle p, .about .agencyArticle p {
	font-family:"din";
	color:#b3b3b3;
	padding-bottom:24px;
	font-size:14px;
	line-height:18px;
}

.about .teamArticle p strong, .about .agencyArticle p strong {
	font-family:"dinbold";
	color:#fff;
	text-transform:uppercase;
}

.about .agencyArticleLeft, .about .agencyArticleRight {
	float:left;
	width:420px;
}

.about .agencyArticleLeft {
	padding:0 30px 0 0;
	border-right:1px solid #3d0101;
}

.about .agencyArticleRight {
	padding:0 0 0 30px;
	border-left:1px solid #3d0101;
	margin-left:-1px;
}







#carousel_container {
	clear:both;
	height:670px;
	width:912px;
	overflow:visible;
	padding-top:70px;
	position:relative;
	margin-left:-3px;
	z-index:1;
}

#carousel_container #carousel_inner {
	display:block;
	position:relative;
	top:0;
	left:-455px;
	height:630px;
	width:912px;
	padding:0 455px;
	overflow:hidden;
}

#carousel_container #carousel_ul {
	position:relative;
	left:-455px;
	width:9999em;
}

#carousel_container .item {
	display:block;
	position:relative;
	float:left;
	width:455px;
	height:630px;
	margin-right:3px;
	background:#000;
	overflow:hidden;
}

#carousel_container .item .cowboy {
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:630px;
	width:455px;
	z-index:99;
}

#carousel_container .item .normal {
	display:none;
	position:absolute;
	top:0;
	left:0;
	height:630px;
	width:455px;
	z-index:1;
}

#carousel_container .item#vincentJadot .normal {
	background:url(../photos/about-portraits-vincent-normal.jpg) 0 0 no-repeat;
}

#carousel_container .item#cedricDanaux .normal {
	background:url(../photos/about-portraits-cedric-normal.jpg) 0 0 no-repeat;
}

#carousel_container .item#didierChartrain .normal {
	background:url(../photos/about-portraits-didier-normal.jpg) 0 0 no-repeat;
}

#carousel_container .item#ericDeMeyer .normal {
	background:url(../photos/about-portraits-eric-normal.jpg) 0 0 no-repeat;
}

#carousel_container .item#lauraCneuvels .normal {
	background:url(../photos/about-portraits-laura-normal.jpg) 0 0 no-repeat;
}

#carousel_container .item#xavier  .normal {
	background:url(../photos/about-portraits-xavier-normal.jpg) 0 0 no-repeat;
}

#carousel_container .item#jeanPhilippe  .normal {
	background:url(../photos/about-portraits-jean-philippe-normal.jpg) 0 0 no-repeat;
}

#carousel_container .item#independants .normal {
	background:url(../photos/about-portraits-independants-on.jpg) 0 0 no-repeat;
}

#carousel_container .item .normal .infos {
	display:block;
	position:absolute;
	bottom:-630px;
	left:0;
	width:405px;
	height:580px;
	padding:25px;
	background:#950000 url(../images/about-team-bg.png) 0 0 no-repeat;
	color:#fff;
	font-family:"lubalin";
	text-transform:uppercase;
}

#carousel_container .item#independants .normal .infos {
	bottom:-90px;
	background:#950000 url(../images/about-team-bg-big.png) 0 0 no-repeat;
	bottom:0;
	height:151px;
}

#carousel_container .item .normal .infos h2 {
	font-size:24px;
	padding-bottom:5px;
}

#carousel_container .item .normal .infos h3 {
	font-size:12px;
	color:#4c0000;
}

#carousel_container .item#independants .normal .infos h3 {
	line-height:16px;
	width:350px;
}

.nl #carousel_container .item#independants .normal .infos h3 {
	width:330px;
}

#carousel_container .item .normal .infos .linkedIn {
	position:absolute;
	top:25px;
	right:25px;
	height:24px;
	width:68px;
	display:block;
	text-indent:-999em;
	overflow:hidden;
	background:url(../images/sprites.png) 0 -24px no-repeat;
}

#carousel_container .item .normal .infos .moreDetails {
	font-size:11px;
	position:absolute;
	top:53px;
	right:25px;
	display:block;
	overflow:hidden;
}

#carousel_container .item .normal .infos .moreDetails span {
	font-size:13px;
}

#carousel_container .item .normal .infos .cv {
	padding-top:54px;
}

#carousel_container .item .normal .infos .cv h4 {
	font-size:15px;
	text-transform:none;
	font-style:italic;
	padding-top:3px;
}
#carousel_container .item .normal .infos .cv h4.first {
	font-style:normal;
	padding-bottom:9px;
}

#carousel_container .item .normal .infos .cv h5 {
	font-size:12px;
	padding-top:24px;
	text-transform:none;
	color:#ffbfbf;
}

#carousel_container .item .normal .infos .cv h6 {
	font-size:22px;
	padding-top:4px;
}

#carousel_container .item .normal .infos .cv .vCardLink {
	display:block;
	font-size:12px;
	padding-top:40px;
	text-transform:none;
	font-weight:500;
	
}

#carousel_container .item .normal .infos .cv .vCardLink span {
	display:inline-block;
	float:left;
	width:11px;
	height:7px;
	margin:3px;
	margin-right:10px;
	background:url(../images/sprites.png) -135px -441px no-repeat;
}

#carousel_container .item img {
	display:block;
	margin:0;
	opacity:.2;
}

#carousel_container .item.visible img {
	opacity:1;
}



#carousel_container .nextRollOver, #carousel_container .prevRollOver {
	display:block;
	float:left;
	height:630px;
	width:455px;
	position:absolute;
	top:70px;
	overflow:hidden;
	cursor:pointer;
	z-index:999;
	background-color:#000;
}

#carousel_container .nextRollOver {
	right:-462px;
/*	cursor:url(../images/right.gif),auto;*/
	cursor:url(../images/right.gif),url(../images/right.cur), e-resize;
}

#carousel_container .prevRollOver {
	left:-455px;
/*	cursor:url(../images/left.gif),auto;*/
	cursor:url(../images/left.gif),url(../images/left.cur), w-resize;
}







.pagination {
	clear:both;
	padding-top:20px;
	margin-left:16px;
}

.pagination ul {
	display:block;
	margin:0 auto;
}

.pagination li {
	display:inline;
}

.pagination li span {
	float:left;
	display:block;
	height:25px;
	width:22px;
	text-align:center;
	line-height:34px;
	font-size:11px;
	margin-right:10px;
	font-family:'dinbold';
	color:#9c0000;
	background:url(../images/sprites.png) -278px -177px no-repeat;
}

.pagination li span:hover {
	color:#f00;
}

.pagination li.currentSlide span {
	color:#fff;
	background:url(../images/sprites.png) -22px -92px no-repeat;
}






.portfolio {
	background:#000 url(../images/generic-bg.jpg) center 143px no-repeat;	
}



.portfolio #content {
	padding-top:40px;
	padding-bottom:80px;
}

.portfolio #content .backtotop {
	display:block;
}



.nl.portfolio #content {
	padding-top:60px;
}

.portfolio #content h1 {
	text-indent:-999em;
	overflow:hidden;
	background:url(../images/titles.png) 0 -70px no-repeat;
	height:83px;
	margin-bottom:60px;
}

.nl.portfolio #content h1 {
	height:70px;
	background:url(../images/titles-nl.png) 0 -70px no-repeat;
}

.portfolioContent {
	display:block;
	width:917px;
	padding-top:40px;
	margin-right:-1px;
}

.portfolioContent a, .relatedArticles a {
	display:block;
	float:left;
	height:250px;
	width:228px;
	border-right:1px solid #000;
	overflow:hidden;
}

.portfolioContent a h2, .relatedArticles a h2 {
	position:relative;
	top:0;
	text-transform:uppercase;
	color:#fff;
	font-size:13px;
	line-height:14px;
	font-family:"lubalin";
	padding:5px 0 15px 0;
	height:40px;
	background:url(../images/black-50.png) repeat;
}

.portfolioContent a:hover h2 span, .relatedArticles a:hover h2 span {
	color:#fff;
}

.portfolioContent a h2 span, .relatedArticles a h2 span {
	text-transform:uppercase;
	color:#f00;
	font-size:9px;
	line-height:14px;
	font-family:"lubalin";
	-webkit-transition:color .3s linear;
	-moz-transition:color .3s linear;
	transition:color .3s linear;
}

.portfolio .filterContainer {
	position:absolute;
	top:75px;
	right:0;
	height:24px;
	padding:1px;
	background:#f00 url(../images/filter-bg.png) left top repeat-y;
	font-family:"din";
	text-transform:uppercase;
	font-size:12px;
	line-height:24px;
}

.portfolio .filterContainer p {
	float:left;
	height:24px;
	padding:0 10px;
	text-align:center;
}

.portfolio .filter {
	float:right;
	width:150px;
	background:#300;
	color:#f00;
	position:relative;
	z-index:99;
}

.portfolio .filter ul {
	display:block;
	width:149px;
	height:0;
	overflow:hidden;
	background:#f00;
	padding:1px 1px 0 1px;
	-webkit-box-shadow:0 5px 5px rgba(0, 0, 0, 0.30);
	-moz-box-shadow:0 5px 5px rgba(0, 0, 0, 0.30);
	box-shadow:0 5px 5px rgba(0, 0, 0, 0.30);
}

.portfolio .filter span {
	display:block;
	height:24px;
	padding:0 5px;
	color:#f00;
	background:#300;
	cursor:pointer;
}

.portfolio .filter span.filterTitle {
	background:url(../images/sprites.png) 125px -160px no-repeat;
}

.portfolio .filter span:hover {
	color:#fff;
}

.portfolio .filterContainer.left {
	position:static;
	float:left;
	width:455px;
}

.portfolio .filterContainer.left p {
	width:175px;
	padding:0;
}

.nl.portfolio .filterContainer.left p {
	font-size:11px;
}

.portfolio .filterContainer.left .filter {
	float:right;
	width:227px;
}

.portfolio .filterContainer.left .filter ul {
	width:226px;
}

.portfolio .filterContainer.left .filter span.filterTitle {
	background:url(../images/sprites.png) 200px -160px no-repeat;
}


.portfolio #porfolioDetailContainer {
	background:url(../images/generic-bg.jpg) center -20px no-repeat;
	display:none;
	overflow:hidden;
}

.portfolio #porfolioDetail {
	position:relative;
	clear:both;
	width:915px;
	margin:0 auto;
	padding-bottom:80px;
	padding-top:95px;
}


.portfolio #porfolioDetail #porfolioDetailHead #ttl {
	float:left;
	width:800px;
	height:104px;
}

.portfolio #porfolioDetail #porfolioDetailHead #ttl .jobTitle {
	display:none;
}

.portfolio #porfolioDetail #porfolioDetailHead h1 {
	font-family:"lubalinthin";
	font-size:38px;
	padding-bottom:1px;
	padding-top:3px;
	text-transform:uppercase;
}

.portfolio #porfolioDetail #porfolioDetailHead h2 {
	font-family:"lubalin";
	font-size:16px;
	text-transform:uppercase;
	color:#f00;
	padding-bottom:46px;
}


.portfolio #porfolioDetail #porfolioDetailHead #nav {
	float:right;
	width:69px;
	height:69px;
	overflow:visible;
	margin-top:-2px;
}

.portfolio #porfolioDetail #nav .up, .portfolio #porfolioDetail #nav .down, .portfolio #porfolioDetail #nav .prev, .portfolio #porfolioDetail #nav .next, .portfolio #porfolioDetail #nav .back {
	width:23px;
	height:23px;
	display:block;
	text-indent:-999em;
	overflow:hidden;
}

.portfolio #porfolioDetail #nav .up {
	margin:0 auto;
	background:url(../images/sprites.png) -103px -440px no-repeat;
}
.portfolio #porfolioDetail #nav .up:hover {
	background:url(../images/sprites.png) -103px -465px no-repeat;
}

.portfolio #porfolioDetail #nav .prev {	
	float:left;	
	background:url(../images/sprites.png) 0 -434px no-repeat;
}
.portfolio #porfolioDetail #nav .prev:hover {	
	background:url(../images/sprites.png) 0 -459px no-repeat;
}

.portfolio #porfolioDetail #nav .back {	
	float:left;
	background:url(../images/sprites.png) -23px -434px no-repeat;
}
.portfolio #porfolioDetail #nav .back:hover {	
	background:url(../images/sprites.png) -23px -459px no-repeat;
}

.portfolio #porfolioDetail #nav .next {
	float:right;
	background:url(../images/sprites.png) -46px -434px no-repeat;
}
.portfolio #porfolioDetail #nav .next:hover {
	background:url(../images/sprites.png) -46px -459px no-repeat;
}

.portfolio #porfolioDetail #nav .down {
	clear:both;
	margin:0 auto;
	background:url(../images/sprites.png) -77px -428px no-repeat;
}
.portfolio #porfolioDetail #nav .down:hover {
	background:url(../images/sprites.png) -77px -453px no-repeat;
}

.portfolio #porfolioDetail .jobContent {
	display:none;
	float:left;
	margin-top:55px;
	margin-bottom:30px;
}

.portfolio #porfolioDetail .jobContent .left-col {
	float:left;
	width:435px;
	padding-right:37px;
	overflow:hidden;
	background:url(../images/separator.png) right top repeat-y;
}

.portfolio #porfolioDetail .jobContent .right-col {
	float:left;
	width:395px;
	padding-left:47px;
	margin-left:-1px;
	background:url(../images/separator.png) left top repeat-y;
}

#porfolioDetailContent {
	position:relative;
	display:block;
}






#carouselContainer {
	clear:both;
	height:629px;
	width:915px;
	position:relative;
	z-index:1;
}

#carouselContainer .nextRollOver, #carouselContainer .prevRollOver {
	display:block;
	float:left;
	height:629px;
	width:915px;
	position:absolute;
	top:0px;
	overflow:hidden;
	cursor:pointer;
	z-index:999;
	background-color:#000;
}

#carouselContainer .nextRollOver {
	right:-918px;
	cursor:url(../images/right.gif),url(../images/right.cur), e-resize;
}

#carouselContainer .prevRollOver {
	left:-918px;
	cursor:url(../images/left.gif),url(../images/left.cur), w-resize;
}







#carouselContainer #carouselInner {
	display:block;
	position:relative;
	margin-left:-3px;
	top:0;
	left:-915px;
	height:629px;
	width:915px;
	padding:0 915px;
}

#carouselContainer ul {
	position:relative;
	left:-915px;
	top:0px;
	width:9999em;
	overflow:hidden;
}

#carouselContainer ul li {
	display:block;
	position:relative;
	float:left;
	width:915px;
	height:629px;
	background:#000;
	margin-right:3px;
}

#carouselContainer ul li div.imagesContainer {
	display:block;
	position:relative;
	width:915px;
	height:629px;
	background:#000;
}

#carouselContainer ul li div.imagesContainer div {
	display:block;
	position:relative;
	float:left;
	width:915px;
	height:629px;
	top:0px;
}


#carouselContainer ul li div.imagesContainer div img.greyImage {
	position:absolute;
	z-index:1;
	opacity:0.2;
}


#carouselContainer ul li div.imagesContainer div img.colorImage {
	position:absolute;
	z-index:2;
	display:none;
}


/* color image preloader */

#circleG{
	width:24.5px; 
	position:absolute; 
	z-index:1000;
	display:none;
	left:445px;
	top:310px;
}

.circleG{
	background-color:#FFFFFF;
	float:left;
	height:5px;
	margin-left:3px;
	width:5px;
	-webkit-animation-name:bounce_circleG;
	-webkit-border-radius:3px;
	-webkit-animation-duration:1.35s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-moz-animation-name:bounce_circleG;
	-moz-border-radius:3px;
	-moz-animation-duration:1.35s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	opacity:0.3;
	-o-animation-name:bounce_circleG;
	border-radius:3px;
	-o-animation-duration:1.35s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-ms-animation-name:bounce_circleG;
	-ms-animation-duration:1.35s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	opacity:0.3
}

#circleG_1{
	-webkit-animation-delay:0.27s;
	-moz-animation-delay:0.27s;
	-o-animation-delay:0.27s;
	-ms-animation-delay:0.27s;
}

#circleG_2{
	-webkit-animation-delay:0.63s;
	-moz-animation-delay:0.63s;
	-o-animation-delay:0.63s;
	-ms-animation-delay:0.63s;
}

#circleG_3{
	-webkit-animation-delay:0.8099999999999999s;
	-moz-animation-delay:0.8099999999999999s;
	-o-animation-delay:0.8099999999999999s;
	-ms-animation-delay:0.8099999999999999s;
}

@-webkit-keyframes bounce_circleG {
	0%{
		opacity:0.3
	}
	
	50%{
		opacity:1;
		background-color:#F90409
	}
	
	100%{
		opacity:0.3
	}

}

@-moz-keyframes bounce_circleG {
	0%{
	opacity:0.3}
	
	50%{
	opacity:1;
	background-color:#F90409}
	
	100%{
	opacity:0.3}
}

@-o-keyframes bounce_circleG {
	0%{
	opacity:0.3}
	
	50%{
	opacity:1;
	background-color:#F90409}
	
	100% {
		opacity:0.3
	}

}

@-ms-keyframes bounce_circleG{
	0%{
	opacity:0.3}
	
	50%{
	opacity:1;
	background-color:#F90409}
	
	100%{
	opacity:0.3}
}










.portfolioDetails {
	background:#000 url(../images/generic-bg.jpg) center 143px no-repeat;
}

.portfolioDetails #content {
	padding-top:40px;
}

.portfolioDetails #content .PortfolioDetailTitle {
	display:block;
	text-indent:-999em;
	overflow:hidden;
	background:url(../images/titles.png) 0 -153px no-repeat;
	height:70px;
	margin-bottom:40px;
}

.nl.portfolioDetails #content .PortfolioDetailTitle {
	background:url(../images/titles-nl.png) 0 -153px no-repeat;
}

.portfolioDetails .casestudy {
	display:block;
	overflow:hidden;
	text-indent:-999em;
	position:absolute;
	top:40px;
	right:0;
	height:174px;
	width:160px;
	background:url(../images/push-case.png) 0 0 no-repeat;
	-webkit-transition:background .1s linear;
	-moz-transition:background .1s linear;
	transition:background .1s linear;
}

.portfolioDetails .casestudy:hover {
	background:url(../images/push-case.png) 0 5px no-repeat;
}

.portfolioDetails .portfolioNav {
	width:540px;
}

.portfolioNav {
	height:44px;
	overflow:hidden;
}

.portfolioNav .prev, .portfolioNav .next, .portfolioNav .back {
	display:block;
	text-indent:-999em;
	overflow:hidden;
}

.portfolioNav .prev {
	float:left;
	height:24px;
	width:23px;
	background:url(../images/sprites.png) 0 -68px no-repeat;
}

.portfolioNav .next {
	float:right;
	height:24px;
	width:23px;
	background:url(../images/sprites.png) -22px -68px no-repeat;
}

.portfolioNav .back {
	height:24px;
	width:23px;
	margin:0 auto;
	background:url(../images/sprites.png) -45px -68px no-repeat;
}

.portfolioDetails .jobContainer {
	position:relative;
}

.portfolioDetails .jobPictures {
	float:left;
	width:570px;
	margin-bottom:-10px;
	overflow:hidden;
	background:url(../images/separator.png) right top repeat-y;
}

.portfolioDetails .jobPictures img {
	margin-bottom:10px;
	margin-right:10px;
	vertical-align:top;
	width: 100%;
	height: auto;
}

.portfolioDetails .jobPictures.flexImg {
	padding-right: 30px;
	width: 530px;
}

.portfolioDetails .jobContent {
	float:left;
	width:315px;
	padding-left:30px;
	margin-left:-1px;
	background:url(../images/separator.png) left top repeat-y;	
}

.portfolioDetails .jobContent h1 {
	font-family:"lubalinthin";
	font-size:38px;
	padding-bottom:5px;
	padding-top:3px;
	text-transform:uppercase;
}

.portfolioDetails .jobContent h2 {
	font-family:"lubalin";
	font-size:16px;
	text-transform:uppercase;
	color:#f00;
	padding-bottom:30px;
}

.portfolioDetails .jobContent h3, .portfolio #porfolioDetail .jobContent h3 {
	clear:left;
	font-family:"dinbold";
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	padding-bottom:24px;
}

.portfolioDetails .jobContent p, .portfolio #porfolioDetail .jobContent p {
	font-family:"din";
	color:#b3b3b3;
	font-size:14px;
	line-height:18px;
	padding-bottom:24px;
}

.portfolioDetails .jobContent p strong, .portfolio #porfolioDetail .jobContent p strong {
	color:#ccc;
	font-family:"dinbold";
}

.portfolioDetails .jobContent p a, .portfolio #porfolioDetail .jobContent p a {
	color:#f00;
}

.portfolioDetails p.agences, .portfolio #porfolioDetail .jobContent p.agences {
	display:block;
	margin-bottom:24px;
	font-family:"din";
	color:#f00;
	font-size:25px;
}

.portfolioDetails .jobContent ul, .portfolio #porfolioDetail .jobContent ul {
	padding-bottom:24px;
}

.portfolioDetails .jobContent li, .portfolio #porfolioDetail .jobContent li {
	display:block;
	font-family:"din";
	padding:5px 5px 5px 25px;
	margin-bottom:1px;
	text-transform:uppercase;
	background:#000 url(../images/sprites.png) -225px 7px no-repeat;
	-webkit-transition:background .2s linear;
	-moz-transition:background .2s linear;
	transition:background .2s linear;
}

.portfolioDetails .jobContent li.list-0, .portfolio #porfolioDetail .jobContent li.list-0 {
	background:#101010 url(../images/sprites.png) -225px 7px no-repeat;
}

.portfolioDetails .jobContent li.list-1, .portfolio #porfolioDetail .jobContent li.list-1 {
	background:#161616 url(../images/sprites.png) -225px 7px no-repeat;
}

.portfolioDetails .jobContent li.list-2, .portfolio #porfolioDetail .jobContent li.list-2 {
	background:#1e1e1e url(../images/sprites.png) -225px 7px no-repeat;
}

.portfolioDetails .jobContent li.list-3, .portfolio #porfolioDetail .jobContent li.list-3 {
	background:#262626 url(../images/sprites.png) -225px 7px no-repeat;
}

.portfolioDetails .jobContent li.list-4, .portfolio #porfolioDetail .jobContent li.list-4 {
	background:#1e1e1e url(../images/sprites.png) -225px 7px no-repeat;
}

.portfolioDetails .jobContent li.list-5, .portfolio #porfolioDetail .jobContent li.list-5 {
	background:#161616 url(../images/sprites.png) -225px 7px no-repeat;
}

.portfolioDetails .jobContent li.list-6, .portfolio #porfolioDetail .jobContent li.list-6 {
	background:#101010 url(../images/sprites.png) -225px 7px no-repeat;
}

.portfolioDetails .jobContent li:hover, .portfolio #porfolioDetail .jobContent li:hover {
	background:#333 url(../images/sprites.png) -225px 7px no-repeat;
}

.portfolioDetails .outlinks, .portfolio #porfolioDetail .jobContent .outlinks {
	clear:both;
	float:left;
}

.portfolioDetails .jobContent .button, .portfolio #porfolioDetail .jobContent .button {
	float:right;
}

.portfolioDetails .relatedArticles {
	clear:both;
	width:917px;
	padding:60px 0;
	margin-right:-1px;
	overflow:hidden;
}

.portfolioDetails .relatedArticles h4 {
	font-family:"lubalinthin";
	font-size:38px;
	color:#f00000;
	text-transform:uppercase;
	padding-bottom:24px;
}

.portfolioDetails #grany-anim {
	width:537px;
	height:351px;
	margin-bottom:10px;
	overflow:hidden;
	position:relative;
}

.portfolioDetails #grany-anim img {
	position:absolute;
}

.portfolioDetails .videoZone {
	position:absolute;
	top:45px;
	left:164px;
}

.portfolioDetails .evian-square {
	width:41px;
	height:55px;
	background-color:#fff;
	position:absolute;
}

.portfolioDetails #evian-anim {
	width:537px;
}


/* noukies anim */
.portfolioDetails #noukies-anim {
	position:absolute;
	top:45px;
	left:154px;
	z-index:10;
	display:none;
}

.portfolioDetails #noukies-ct {
	position:absolute;
	z-index:5;
	top:16px;
	left:75px;
}

.portfolioDetails #noukies-anim .slides_container {
	width:305px;
	height:211px;
}

.portfolioDetails #noukies-anim .slides_container div {
	width:305px;
	height:211px;
	display:block;
}

.portfolioDetails #noukies-anim #slides .pagination {
	display:block;
	position:absolute;
	right:.6em;
	top:.6em;
	z-index:99;
}

.portfolioDetails #noukies-anim #slides .pagination li {
	display:inline;
}

.portfolioDetails #noukies-anim #slides .pagination a {
	background:url("../images/sprites.png") no-repeat scroll -205px 0 transparent;
	display:block;
	float:left;
	height:6px;
	margin-right:2px;
	overflow:hidden;
	text-indent:-999em;
	width:6px;
}

.portfolioDetails #noukies-anim #slides .pagination a:hover {
	background:url("../images/sprites.png") no-repeat scroll -211px 0 transparent;
}

.portfolioDetails #noukies-anim #slides .pagination .current a {
	background:url("../images/sprites.png") no-repeat scroll -211px 0 transparent;
}

.portfolioDetails #noukies-anim #slides .pagination .current a:hover {
	background:url("../images/sprites.png") no-repeat scroll -217px 0 transparent;
}

.portfolioDetails #noukies-tl {
	position:relative;
	width:538px;
	height:366px;
	margin-bottom:10px;
}

.portfolioDetails #noukies-tl #slide {
	position:absolute;
	top:51px;
	left:78px;
	width:382px;
	height:198px;
	overflow:hidden;
}

.portfolioDetails #noukies-tl .tl-hover {
	width:100px;
	height:150px;
	position:absolute;
}

.portfolioDetails #noukies-tl #tl-hover-left {
	top:80px;
	left:0;
}

.portfolioDetails #noukies-tl #tl-hover-right {
	top:80px;
	right:0;
}


/* peterman anim */
.portfolioDetails #peterman-anim {
	position:absolute;
	left:17px;
	top:50px;
}

.portfolioDetails #peterman-anim .slides_container {
	width:504px;
	height:232px;
}

/* --- pagination --- */
.portfolioDetails #peterman-anim #slides .next, .homepage #slides .prev {
	display: none;
}
.portfolioDetails #peterman-anim #slides .pagination {
	margin: 0 auto;
	width: 44px;
	height: 20px;
	overflow: hidden;
	margin: -36px auto 0;
	position: relative;
	z-index: 99;
}
.portfolioDetails #peterman-anim #slides .pagination li {
	float: left;
	list-style: none;
	background: #d32219 url(../images/petterman-slide-buttons-bg.png) 0 0 repeat-x;
	padding: 3px 3px;
	height: 12px;
	width: 12px;
	overflow: hidden;
}
.portfolioDetails #peterman-anim #slides .pagination li a {
	display: block;
	position: relative;
	background: url(../images/sprites.png) -170px -406px no-repeat;
	width: 12px;
	height: 0;
	padding-top: 12px;
	float: left;
	overflow: hidden;
}
.portfolioDetails #peterman-anim #slides .pagination li a:hover, .portfolioDetails #peterman-anim #slides .pagination li.current a:hover {
	background: url(../images/sprites.png) -170px -418px no-repeat;
}
.portfolioDetails #peterman-anim #slides .pagination li.current a {
	background: url(../images/sprites.png) -170px -394px no-repeat;
}







.portfolioDetails #backgrounds {
	width:538px;
	height:366px;
	margin-bottom:10px;
}

.portfolioDetails #backgrounds img {
	position:absolute;
}

.portfolioDetails #mercedes-logo {
	position:absolute;
	top:66px;
	left:23px;
	z-index:51;
}

.portfolioDetails .mercedesSlideBanner {
	position:absolute;
	width:537px;
	height:166px;
	top:51px;
}

.portfolioDetails .mercedesSlideBanner img {
	position:absolute;
	top:0;
	left:0;
	z-index:8;
	opacity:0;
}

.portfolioDetails .mercedesSlideBanner img.active {
	z-index:10;
	opacity:1;
}

.portfolioDetails .mercedesSlideBanner img.last-active {
	z-index:9;
}

.portfolioDetails .dyodSlideBanner {
	position:relaitve;
	width:538px;
	height:344px;
}

.portfolioDetails .dyodSlideBanner img {
	position:absolute;
	top:0;
	left:0;
	z-index:8;
	opacity:0;
}

.portfolioDetails .dyodSlideBanner img.active {
	z-index:10;
	opacity:1;
}

.portfolioDetails .dyodSlideBanner img.last-active {
	z-index:9;
}

.portfolioDetails #dhl-anim {
	width:538px;
	height:295px;
	display:block;
	margin-bottom:10xp;
	overflow:hidden;
	position:relative;
}

.portfolioDetails #dhl-anim img {
	position:absolute;
}

.portfolioDetails #bloom-anim {
	position:absolute;
	width:432px;
	height:324px;
	top:47px;
	left:53px;
}

.portfolioDetails #bloom-anim img {
	display:none;
	position:relative;
}

.portfolioDetails #bloom-anim #bloom-content {
	position:absolute;
}

.portfolioDetails #bloom-anim #bloom-content img {
	margin:0;
	padding:0;
}

.portfolioDetails #bloom-anim #bloom-content #bloom-1 {
	position:absolute;
	width:432px;
	top:40px;
	left:16px;
}

.portfolioDetails #bloom-anim #bloom-content #bloom-2 {
	position:absolute;
	width:432px;
	top:70px;
	left:16px;
}

.portfolioDetails #bloom-anim #bloom-content #bloom-3 {
	position:absolute;
	width:432px;
	top:165px;
	left:16px;
}

.portfolioDetails #bloom-anim #bloom-content #bloom-4 {
	position:absolute;
	width:432px;
	top:206px;
	left:16px;
}

.portfolioDetails #bloom-anim #bloom-content #bloom-5 {
	position:absolute;
	width:432px;
	top:255px;
	left:16px;
}

.portfolioDetails #rainbow-anim {
	position:absolute;
	top:90px;
	left:18px;
	width:505px;
}

.portfolioDetails .rainbow-section1 {
	width:168px;
	height:304px;
	background-color:#fff;
	position:relative;
	float:left;
}

.portfolioDetails .rainbow-section2 {
	width:166px;
	height:202px;
	background-color:#fff;
	position:relative;
	float:left;
}

.portfolioDetails .rainbow-section3 {
	width:166px;
	height:180px;
	background-color:#fff;
	position:relative;
	float:left;
}

.portfolioDetails .rainbow-section4 {
	width:168px;
	height:220px;
	background-color:#fff;
	position:relative;
	float:left;
	top:-70px;
}




.services {
	background:#000 url(../images/generic-bg.jpg) center 143px no-repeat;
	/*overflow-x:hidden;*/
	overflow-y:auto;
}

.services #contentContainer {
	position:relative;
	width:915px;
	margin:0 auto;
}

.services #content {
	width:910px;
	padding-top:60px;
	overflow:hidden;
	width:100%;
}

.services #content #contentContainer {
	position:relative;
	width:910px;
	margin:0 auto;
}

.services #content h1 {
	text-indent:-999em;
	overflow:hidden;
	background:url(../images/titles.png) 0 -153px no-repeat;
	height:70px;
	margin-bottom:40px;
}

.nl.services #content h1 {
	background:url(../images/titles-nl.png) 0 -153px no-repeat;
}

.services h3 {
	clear:both;
	font-size:28px;
	font-family:"lubalinthin";
	text-transform:uppercase;
	padding-left:26px;
	padding:24px 0;
	color:#f00000;
}

#servicesAnatomy {
	height:436px;
	padding-bottom:104px;
	width:912px;
	background:url(../images/services-anatomy.png) center 85px no-repeat;
	position:relative;
	z-index:1;
}

#servicesAnatomy .mask {
	display:none;
	position:absolute;
	top:0;
	left:0;
	height:540px;
	width:912px;
	background:url(../images/services-anatomy-mask.png) center 85px no-repeat;
	z-index:2;
}

#servicesAnatomy:hover .mask {
	display:block;
}

#servicesAnatomy .mask span {
	display:none;
	position:absolute;
	top:0;
	left:0;
	height:540px;
	width:912px;
	z-index:3;
}

#servicesAnatomy .traits {
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:540px;
	width:912px;
	background:url(../images/services-anatomy-traits.png) center 0 no-repeat;
	z-index:4;
}

#servicesAnatomy .servicesAnatomyItems li {
	position:absolute;
	z-index:5;
	display:block;
	font-family:'Lubalin';
	color:#fff;
	text-decoration:none;
	font-size:15px;
	line-height:36px;
	background:url(../images/pictos.png) 0 -128px no-repeat;
	cursor:pointer;
}

#servicesAnatomy .servicesAnatomyItems li .icon {
	display:block;
	float:left;
	height:36px;
	width:36px;
	margin-right:10px;
	-webkit-transition:background .2s linear;
	-moz-transition:background .2s linear;
	-o-transition:background .2s linear;
	-ms-transition:background .2s linear;
	transition:background .2s linear;
}

#servicesAnatomy .servicesAnatomyItems li.html {
	top:70px;
	left:0;
	width:115px;
}

#servicesAnatomy .servicesAnatomyItems li.html .icon {
	background:url(../images/pictos.png) -544px -128px no-repeat;
}

#servicesAnatomy .mask .html {
	background:url(../images/services-anatomy-html.png) center 85px no-repeat;
}

#servicesAnatomy .servicesAnatomyItems li.design {
	top:70px;
	left:250px;
	width:115px;
}

#servicesAnatomy .servicesAnatomyItems li.design .icon {
	background:url(../images/pictos.png) -580px -128px no-repeat;
}

#servicesAnatomy .mask .design {
	background:url(../images/services-anatomy-design.png) center 85px no-repeat;
}

#servicesAnatomy .servicesAnatomyItems li.community {
	top:0;
	left:487px;
	width:250px;
}

#servicesAnatomy .servicesAnatomyItems li.community .icon {
	background:url(../images/pictos.png) -768px -128px no-repeat;
}

#servicesAnatomy .mask .community {
	background:url(../images/services-anatomy-community.png) center 85px no-repeat;
}

#servicesAnatomy .servicesAnatomyItems li.display {
	top:65px;
	left:711px;
	width:210px;
}

#servicesAnatomy .servicesAnatomyItems li.display .icon {
	background:url(../images/pictos.png) -688px -128px no-repeat;
}

#servicesAnatomy .mask .display {
	background:url(../images/services-anatomy-display.png) center 85px no-repeat;
}

#servicesAnatomy .servicesAnatomyItems li.mobile {
	top:178px;
	left:765px;
	width:210px;
}

#servicesAnatomy .servicesAnatomyItems li.mobile .icon {
	background:url(../images/pictos.png) -796px -128px no-repeat;
}

#servicesAnatomy .mask .mobile {
	background:url(../images/services-anatomy-mobile.png) center 85px no-repeat;
}

#servicesAnatomy .servicesAnatomyItems li.geo {
	top:363px;
	left:582px;
	width:210px;
}

#servicesAnatomy .servicesAnatomyItems li.geo .icon {
	background:url(../images/pictos.png) -724px -128px no-repeat;
}

#servicesAnatomy .mask .geo {
	background:url(../images/services-anatomy-geo.png) center 85px no-repeat;
}

#servicesAnatomy .servicesAnatomyItems li.intranet {
	top:400px;
	left:200px;
	width:210px;
}

#servicesAnatomy .servicesAnatomyItems li.intranet .icon {
	background:url(../images/pictos.png) -652px -128px no-repeat;
}

#servicesAnatomy .mask .intranet {
	background:url(../images/services-anatomy-intranet.png) center 85px no-repeat;
}

#servicesAnatomy .servicesAnatomyItems li.cms {
	top:207px;
	left:0;
	width:160px;
	line-height:14px;
}

#servicesAnatomy .servicesAnatomyItems li.cms .icon {
	background:url(../images/pictos.png) -616px -128px no-repeat;
}

#servicesAnatomy .mask .cms {
	background:url(../images/services-anatomy-cms.png) center 85px no-repeat;
}

#servicesSlides {
	position:relative;
	height:250px;
	padding-bottom:125px;
	width:910px;
	overflow:visible;
}

#servicesSlides .servicesSlides_container {
	position:absolute;
	top:0;
	left:-458px;
	height:275px;
	width:999em;
}

#servicesSlides .servicesSlides_container li {
	display:block;
	position:relative;
	float:left;
	height:275px;
	width:455px;
	margin-right:3px;
	background:#1d1d1d;
}

#servicesSlides .servicesSlides_container li h2 {
	display:block;
	height:64px;
	margin:20px 0 0 20px;
	background:url(../images/pictos.png) 0 -200px no-repeat;
	font-size:28px;
	line-height:64px;
	font-family:'lubalin';
}

#servicesSlides .servicesSlides_container li#cms h2, #servicesSlides .servicesSlides_container li#seo h2, #servicesSlides .servicesSlides_container li#community h2 {
	line-height:28px;
}

#servicesSlides .servicesSlides_container li h2 .icon {
	display:block;
	float:left;
	height:64px;
	width:64px;
	margin-right:20px;
	-webkit-transition:background .2s linear;
	-moz-transition:background .2s linear;
	-o-transition:background .2s linear;
	-ms-transition:background .2s linear;
	transition:background .2s linear;
}

#servicesSlides .servicesSlides_container li#html h2 .icon {
	background:url(../images/pictos.png) -64px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#html.visible:hover h2 .icon {
	background:url(../images/pictos.png) -64px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#flash h2 .icon {
	background:url(../images/pictos.png) -128px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#flash.visible:hover h2 .icon {
	background:url(../images/pictos.png) -128px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#cms h2 .icon {
	background:url(../images/pictos.png) -192px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#cms.visible:hover h2 .icon {
	background:url(../images/pictos.png) -192px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#wordpress h2 .icon {
	background:url(../images/pictos.png) -256px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#wordpress.visible:hover h2 .icon {
	background:url(../images/pictos.png) -256px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#intranet h2 .icon {
	background:url(../images/pictos.png) -320px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#intranet.visible:hover h2 .icon {
	background:url(../images/pictos.png) -320px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#jquery h2 .icon {
	background:url(../images/pictos.png) -384px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#jquery.visible:hover h2 .icon {
	background:url(../images/pictos.png) -384px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#emailing h2 .icon {
	background:url(../images/pictos.png) -448px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#emailing.visible:hover h2 .icon {
	background:url(../images/pictos.png) -448px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#display h2 .icon {
	background:url(../images/pictos.png) -512px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#display.visible:hover h2 .icon {
	background:url(../images/pictos.png) -512px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#geo h2 .icon {
	background:url(../images/pictos.png) -576px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#geo.visible:hover h2 .icon {
	background:url(../images/pictos.png) -576px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#facebook h2 .icon {
	background:url(../images/pictos.png) -640px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#facebook.visible:hover h2 .icon {
	background:url(../images/pictos.png) -640px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#community h2 .icon {
	background:url(../images/pictos.png) -640px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#community.visible:hover h2 .icon {
	background:url(../images/pictos.png) -640px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#mobile h2 .icon {
	background:url(../images/pictos.png) -704px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#mobile.visible:hover h2 .icon {
	background:url(../images/pictos.png) -704px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#seo h2 .icon {
	background:url(../images/pictos.png) -768px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#seo.visible:hover h2 .icon {
	background:url(../images/pictos.png) -768px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li#design h2 .icon {
	background:url(../images/pictos.png) -832px 0 no-repeat;
}

#servicesSlides .servicesSlides_container li#design.visible:hover h2 .icon {
	background:url(../images/pictos.png) -832px -64px no-repeat;
}

#servicesSlides .servicesSlides_container li p {
	clear:both;
	padding:0 35px 25px 105px;
	font-family:"Din";
	color:#808080;
	font-size:14px;
	line-height:18px;
}

#servicesSlides .servicesSlides_container li p em {
	color:#fff;
}

#servicesSlides .servicesSlides_container li p strong {
	font-family:"dinBold";
	color:#fff;
}

#servicesSlides .servicesSlides_container li .button {
	display:none;
	position:absolute;
	right:22px;
	bottom:17px;
}

#servicesSlides .next, #servicesSlides .prev {
	display:block;
	float:left;
	height:23px;
	width:22px;
	background:green;
	position:absolute;
	top:315px;
	text-indent:-999em;
	overflow:hidden;
	cursor:pointer;
	z-index:999;
}

#servicesSlides .next {
	right:-4px;
	background:url(../images/sprites.png) -23px -68px no-repeat;
}

#servicesSlides .prev {
	left:3px;
	background:url(../images/sprites.png) 0 -68px no-repeat;
}

#moreServices {
	overflow:hidden;
	padding-bottom:80px;
}

#moreServices h3 {
	color:red;
	font-family:"lubalinthin";
	font-size:30px;
	text-transform:uppercase;
	padding-bottom:40px;
}

#moreServices li {
	display:block;
	float:left;
}

#moreServices li a {
	display:block;
	font-family:'Lubalin';
	color:white;
	text-decoration:none;
	font-size:15px;
	line-height:36px;
	margin-right:25px;
	background:url(../images/pictos.png) 0 -128px no-repeat;
}

#moreServices li a .icon {
	display:block;
	float:left;
	height:36px;
	width:36px;
	margin-right:10px;
	-webkit-transition:background .2s linear;
	-moz-transition:background .2s linear;
	-o-transition:background .2s linear;
	-ms-transition:background .2s linear;
	transition:background .2s linear;
}

#moreServices li.wordpress a .icon {
	background:url(../images/pictos.png) -472px -128px no-repeat;
}

#moreServices li.wordpress:hover a .icon {
	background:url(../images/pictos.png) -472px -164px no-repeat;
}

#moreServices li.emailing a .icon {
	background:url(../images/pictos.png) -364px -128px no-repeat;
}

#moreServices li.emailing:hover a .icon {
	background:url(../images/pictos.png) -364px -164px no-repeat;
}

#moreServices li.seo a .icon {
	background:url(../images/pictos.png) -508px -128px no-repeat;
}

#moreServices li.seo:hover a .icon {
	background:url(../images/pictos.png) -508px -164px no-repeat;
}

#moreServices li.flash a .icon {
	background:url(../images/pictos.png) -436px -128px no-repeat;
}

#moreServices li.flash:hover a .icon {
	background:url(../images/pictos.png) -436px -164px no-repeat;
}

#moreServices li.jquery a .icon {
	background:url(../images/pictos.png) -400px -128px no-repeat;
}

#moreServices li.jquery:hover a .icon {
	background:url(../images/pictos.png) -400px -164px no-repeat;
}

.services .phoneContainer {
	position:absolute;
	top:0px;
	right:0;
	width:210px;
}

.services .phoneContainer p {
	float:left;
	font-family:"dinbold";
	font-size:20px;
	line-height:20px;
	text-transform:uppercase;
	color:#fff;
	width:160px;
}

.services .phoneContainer p strong {
	color:#f00;
}

.services .phoneContainer p em {
	color:#b3b3b3;
	font-size:10px;
}

.services .phoneContainer .phoneCallCount {
	color:#f00;
}

.services .phoneContainer .phone {
	display:block;
	float:left;
	position:relative;
	height:57px;
	width:29px;
	margin-right:10px;
	margin-top:3px;
	background:url(../images/sprites.png) -68px -48px no-repeat;
}

.services .phoneContainer .phone .phoneCall {
	display:block;
	position:absolute;
	top:10px;
	left:2px;
	height:38px;
	width:25px;
	background:#ff8b7b url(../images/services-call.gif) 0 0 no-repeat;
}

.servicesDetails {
	background:#000 url(../images/generic-bg.jpg) center 143px no-repeat;
}

.servicesDetails .servicesHeader {
	overflow:hidden;
	height:250px;
}

.servicesDetails .servicesHeader .icon {
	left:0;
	top:64px;
}

.servicesDetails .servicesHeader h1 {
	float:left;
	margin-top:64px;
	margin-left:84px;
	overflow:hidden;
	text-indent:-999em;
	height:140px;
	width:825px;
}

.servicesDetails .geo .servicesHeader h1 {
	margin-top:55px;
}

.servicesDetails .html .servicesHeader, .servicesDetails .emailing .servicesHeader, .servicesDetails .wordpress .servicesHeader, .servicesDetails .mobile .servicesHeader {
	height:180px;
}

.servicesDetails .html .servicesHeader h1, .servicesDetails .emailing .servicesHeader h1, .servicesDetails .wordpress .servicesHeader h1, .servicesDetails .mobile .servicesHeader h1 {
	height:70px;
}

.servicesDetails .cms .servicesHeader h1 {
	background:url(../images/servicesdetails-titles.png) 0 -140px no-repeat;
}

.servicesDetails .html .servicesHeader h1 {
	background:url(../images/servicesdetails-titles.png) 0 -280px no-repeat;
}

.servicesDetails .intranet .servicesHeader h1 {
	background:url(../images/servicesdetails-titles.png) 0 -420px no-repeat;
}

.servicesDetails .wordpress .servicesHeader h1 {
	background:url(../images/servicesdetails-titles.png) 0 -560px no-repeat;
}

.servicesDetails .bannering .servicesHeader h1 {
	background:url(../images/servicesdetails-titles.png) 0 -700px no-repeat;
}

.servicesDetails .emailing .servicesHeader h1 {
	background:url(../images/servicesdetails-titles.png) 0 -630px no-repeat;
}

.servicesDetails .mobile .servicesHeader h1 {
	background:url(../images/servicesdetails-titles.png) 0 -350px no-repeat;
}

.servicesDetails .geo .servicesHeader h1 {
	background:url(../images/servicesdetails-titles.png) 0 0 no-repeat;
}

.servicesDetails .outlinks {
	position:absolute;
	top:64px;
	right:0;
}

.servicesDetails .outlinks .button {
	float:right;
}

.jobContent .outlinks .button {
	float:left;
	margin-right:10px;
}

.servicesDetails .outlinks .fb-like, .portfolioDetails .jobContent .fb-like {
	float:right;
	margin-right:10px;
	margin-top:8px;
	width:65px;
	height:25px;
	overflow:visible;
	position:relative;
}

.servicesDetails .servicesContent {
	overflow:hidden;
	padding-bottom:100px;
}

.servicesDetails .emailing .servicesContent {
	min-height:990px;
	background:url(../photos/servicesdetails-emailing.jpg) top right no-repeat;
}

.servicesDetails .articleFull img, .servicesDetails .articleLeft img, .servicesDetails .articleRight img {
	margin:0 auto 20px auto;
	display:block;
}

.servicesDetails .articleFull h3, .servicesDetails .articleLeft h3, .servicesDetails .articleRight h3 {
	font-family:"lubalinthin";
	font-size:18px;
	text-transform:uppercase;
	padding-bottom:24px;
	padding-left:10px;
	text-indent:-10px;
}

.servicesDetails .articleFull h3 em, .servicesDetails .articleLeft h3 em, .servicesDetails .articleRight h3 em {
	font-size:10px;
	color:#666;
}

.servicesDetails .articleFull h2, .servicesDetails .articleLeft h2, .servicesDetails .articleRight h2 {
	font-family:"lubalinthin";
	font-size:38px;
	text-transform:uppercase;
	padding-bottom:24px;
}

.servicesDetails .articleFull p, .servicesDetails .articleLeft p, .servicesDetails .articleRight p {
	font-family:"din";
	color:#606060;
	padding-bottom:24px;
	font-size:14px;
	line-height:18px;
}

.servicesDetails p.evidence {
	color:#fff;
}

.servicesDetails .articleFull p strong, .servicesDetails .articleLeft p strong, .servicesDetails .articleRight p strong {
	font-family:"dinbold";
	color:#fff;
	text-transform:uppercase;
}

.servicesDetails .articleFull {
	width:100%;
	clear:both;
}

.servicesDetails .articleLeft, .servicesDetails .articleRight {
	float:left;
	width:420px;
}

.servicesDetails .articleLeft {
	padding:0 30px 0 0;
	border-right:1px solid #3d0101;
}

.servicesDetails .articleRight {
	padding:0 0 0 30px;
	border-left:1px solid #3d0101;
	margin-left:-1px;
}

.whiteSpace {
	display:block;
	height:160px;
}

.servicesDetails .minibulle {
	position:relative;
	width:390px;
	padding:0 30px 5px 0;
	background:url(../images/bulle.png) left bottom no-repeat;
	font-family:"din";
	font-size:14px;
	line-height:18px;
	color:#b3b3b3;
}

.portfolioDetails .minibulle, .jobContent .minibulle {
	position:relative;
	width:285px;
	padding:0 30px 5px 0;
	background:url(../images/mini-bulle.png) left bottom no-repeat;
	font-family:"din";
	font-size:14px;
	line-height:18px;
	color:#b3b3b3;
}


.servicesDetails .minibulle h4 {
	display:block;
	width:359px;
	padding:20px 30px 0 30px;
	background:url(../images/bulle.png) left top no-repeat;
	font-family:"lubalin";
	font-size:18px;
	line-height:22px;
	text-indent:-15px;
	color:#f00;
	text-transform:uppercase;
	position:relative;
}

.portfolioDetails .minibulle h4, .jobContent .minibulle h4  {
	display:block;
	width:255px;
	padding:20px 30px 0 30px;
	background:url(../images/mini-bulle.png) left top no-repeat;
	font-family:"lubalin";
	font-size:16px;
	line-height:20px;
	text-indent:-15px;
	color:#f00;
	text-transform:uppercase;
	position:relative;
}


.portfolioDetails .minibulle h4 span, .servicesDetails .minibulle h4 span, .jobContent .minibulle h4 span {
	padding:0 5px;
	font-family:"lubalin";
	font-size:20px;
	line-height:20px;
}

.portfolioDetails .minibulle strong, .servicesDetails .minibulle strong, .jobContent .minibulle strong  {
	font-family:"dinbold";
	color:#fff;
}

.portfolioDetails .minibulle .sign, .servicesDetails .minibulle .sign, .jobContent .minibulle .sign {
	font-size:12px !important;
	color:#fff !important;
	font-family:"dinbold"  !important;
	padding:10px 0 40px 30px !important;
}


.portfolioDetails .minibulle .sign em, .servicesDetails .minibulle .sign em, .jobContent .minibulle .sign em {
	display:block;
	color:#b3b3b3;
	font-family:"din";
}

.portfolioDetails .minibulle .more, .servicesDetails .minibulle .more, .jobContent .minibulle .more {
	position:absolute;
	bottom:45px;
	right:25px;
	width:100px;
	padding:5px 0;
	background:#262626;
	text-align:center;
	text-transform:uppercase;
	font-size:11px;
}

.portfolioDetails .minibulle .more:hover, .servicesDetails .minibulle .more:hover, .jobContent .minibulle .more:hover {
	background:#fff;
	color:#262626;
}

.testimonies {
	background:#000 url(../images/generic-bg.jpg) center 143px no-repeat;
}

.testimonies #content h1 {
	text-indent:-999em;
	overflow:hidden;
	background:url(../images/titles.png) 0 -223px no-repeat;
	height:70px;
	margin-bottom:20px;
}

.testimonies #content {
	width:915px;
	min-height:1800px;
	padding-top:60px;
	background:url(../images/bulle-floue.png) 200px 200px repeat-y;
}

.testimonies .buzzContainer {
	position:absolute;
	top:55px;
	right:0;
	font-family:"dinbold";
	text-transform:uppercase;
	font-size:20px;
}

.testimonies .buzzContainer p {
	float:left;
	padding-top:10px;
}

.testimonies .buzzContainer strong {
	color:#f00;
}

.testimonies .buzz {
	position:relative;
	display:block;
	height:77px;
	width:85px;
	background:url(../images/sprites.png) -152px -48px no-repeat;
	float:right;
	margin-left:10px;
}

.testimonies .buzz .buzz-left-light, .testimonies .buzz .buzz-right-light {
	display:block;
	position:absolute;
	height:10px;
	width:10px;
	background:url(../images/sprites.png) -227px -125px no-repeat;
}

.testimonies .buzz .buzz-left-light {
	top:13px;
	left:-3px;
}

.testimonies .buzz .buzz-right-light {
	top:23px;
	left:79px;
}

.testimonies .testimoniesContainer {
	padding-bottom:50px;
	width:600px;
	clear:both;
	position:relative;
}

.testimonies .testimoniesContainer.bloc {
	opacity:0;
	margin-top:50px;
}

.testimonies .testimoniesContainer.left {
	float:left;
}

.testimonies .testimoniesContainer.right {
	float:right;
}

.testimonies .testimoniesContainer h2 {
	display:block;
	width:515px;
	padding:30px 30px 20px 55px;
	background:url(../images/bulle-large.png) left top no-repeat;
	font-family:"lubalin";
	font-size:18px;
	line-height:22px;
	text-indent:-15px;
	color:#f00;
	text-transform:uppercase;
	position:relative;
}

.testimonies .testimoniesContainer h2 span {
	padding:0 5px;
	font-family:"lubalin";
	font-size:20px;
	line-height:20px;
}

.testimonies .testimoniesContent {
	width:530px;
	padding:0 30px 50px 40px;
	background:url(../images/bulle-large.png) left bottom no-repeat;
	font-family:"din";
	font-size:14px;
	line-height:18px;
	color:#b3b3b3;
}

.testimonies .testimoniesContent strong {
	font-family:"dinbold";
	color:#fff;
}

.testimonies .testimoniesContent .sign {
	padding-top:24px;
	text-align:right;
	font-size:12px;
	color:#fff;
	font-family:"dinbold";
}

.testimonies .testimoniesContent .sign em {
	display:block;
	color:#b3b3b3;
	font-family:"din";
}

.testimonies .testimoniesContainer .clientLogo {
	display:block;
	position:absolute;
	top:25px;
	height:97px;
	width:97px;
	background:url(../images/bulle-large.png) right top no-repeat;
}

.testimonies .testimoniesContainer .clientLogo img {
	opacity:.5;
}

.testimonies .testimoniesContainer .clientLogo:hover img {
	opacity:1;
}

.testimonies .testimoniesContainer.left .clientLogo {
	right:-80px;
}

.testimonies .testimoniesContainer.right .clientLogo {
	left:-80px;
}

.clients {
	background:#000 url(../images/generic-bg.jpg) center 0 no-repeat;
}

.clients #content h1 {
	text-indent:-999em;
	overflow:hidden;
	background:url(../images/titles.png) 20px -293px no-repeat;
	height:70px;
	margin-bottom:60px;
}

.nl.clients #content h1 {
	background:url(../images/titles-nl.png) 20px -293px no-repeat;
}

.clients #content {
	width:960px;
	min-height:800px;
	padding-top:60px;
}

.clientsList {
	display:block;
	overflow:hidden;
	padding:1px 0 0 1px;
	margin-left:24px;
	width:915px;
	background:#202020 url(../images/client-bg.png) center bottom repeat-x;
}

.clientsList li {
	display:block;
	float:left;
	height:182px;
	width:182px;
	margin:0 1px 1px 0;
	background:#101010;
}

.accounts {
	width:915px;
	margin:0 auto;
	padding:50px 0;
	clear:both;
	overflow:hidden;
}

.accounts .brandsContainer {
	width:125px;
	float:left;
	padding-right:50px;
	font-family:"dinbold";
	font-size:20px;
	text-transform:uppercase;
}

.accounts .brandsContainer strong {
	color:#f00;
}

.accounts .brandsContainer .crow {
	display:block;
	width:43px;
	height:44px;
	margin-top:10px;
	background:url(../images/sprites.png) -97px -48px no-repeat;
}

.accounts .accountsList {
	display:block;
	float:left;
}

.accounts .accountsList li {
	display:block;
	width:185px;
	float:left;
	font-family:"dinbold";
	font-size:12px;
	color:#f00;
	text-transform:uppercase;
}

.accounts .accountsList li ul {
	display:block;
	padding-top:20px;
}

.accounts .accountsList li li {
	float:none;
	font-family:"din";
	color:#fff;
	padding-bottom:4px;
}

.contact {
	background:#000 url(../images/generic-bg.jpg) center 100px no-repeat;
}

.contact #content {
	padding:50px 0 80px 0;
}

.contact .new {
	display: block;
	float: left;
	color: black;
	background: white;
	padding: 5px;
	font-size: 15px;
	text-transform: uppercase;
	font-family:"dinbold";
}

.contact h1 .title {
	clear: left;
	display: block;
	padding-top: 45px;
}

.contact h1 {
	float:left;
	font-family:"lubalinthin";
	font-size: 45px;
	text-transform:uppercase;
	color:#f00;
	padding-bottom:50px;
}

.contact .facebookContainer {
	display:block;
	float:right;
	font-family:"dinbold";
	font-size:20px;
	text-transform:uppercase;
}

.contact .facebookContainer .facebookContent {
	float:left;
}

.contact .facebookContainer strong {
	color:#f00;
}

.contact .facebookContainer .facebookIcon {
	float:right;
	display:block;
	height:55px;
	width:55px;
	margin-left:5px;
	background:url(../images/sprites.png) -97px -92px no-repeat;
	-webkit-transition:background .5s linear;
	-moz-transition:background .5s linear;
	transition:background .5s linear;
}

.contact .facebookContainer:hover .facebookIcon {
	background:url(../images/sprites.png) -97px -147px no-repeat;
}

.contact .contactInfos {
	clear:both;
	padding-bottom:50px;
}

.contact .contactInfos li {
	display:block;
	float:left;
	padding-right:35px;
	font-family:"dinbold";
	font-size:22px;
	text-transform:uppercase;
}

.contact .contactInfos li strong {
	color:#f00;
	padding-right:5px;
}

.contact .contactInfos a:hover {
	color:#f00;
}

.contact .map_canvasContainer {
	width:915px;
	height:460px;
	background:#fff url(../images/googlemapcanvas.jpg);
	margin-bottom:40px;
}

.contact #map_canvas {
	clear:both;
	margin:0 auto;
	width:915px;
	height:460px;
	opacity:.8;
}

#siteNotice {
	text-align:center;
	height:125px;
}

#siteNotice h4 {
	font-family:"dinbold";
	color:#000;
	font-size:28px;
	padding-bottom:5px;
	text-transform:uppercase;
}

#siteNotice h5 {
	font-family:"din";
	color:#f00;
	font-size:10px;
	padding-bottom:5px;
	text-transform:uppercase;
}

#siteNotice p {
	border-top:1px solid #eee;
	padding:10px 0 0 0;
	color:#b3b3b3;
	font-size:10px;
}

#siteNotice p strong {
	font-family:"dinbold";
	color:#f00000;
	text-transform:uppercase;
}

#siteNotice p.address {
	border:0;
	text-align:left;
	padding:10px 20px;
	font-family:"din";
	font-size:12px;
	line-height:16px;
}

#footer {
	position:relative;
	clear:both;
	width:814px;
	margin:0 auto;
	padding:48px;
	background:url(../images/footer-patern.png) left top repeat;
	overflow:hidden;
}

#footer .address {
	float:left;
	font-family:"lubalinthin";
	font-size:22px;
	text-transform:uppercase;
	color:#c6c5c5;
}

#footer .footerNav {
	display:block;
	float:right;
}

#footer .footerNav li {
	display:inline;
}

#footer .footerNav li a {
	font-family:"dinbold";
	text-transform:uppercase;
	padding:5px 15px;
}

#footer .footerNav li a:hover {
	color:#888;
}

#footer .footerNav li.about a {
	padding-left:0;
}

#footer .footerNav li.contact a {
	padding-right:0;
}

#footer .footerContact, #footer .footerSocial {
	clear:both;
	padding:33px 0 48px 0;
	overflow:hidden;
}

#footer .footerContact p, #footer .footerSocial p {
	float:left;
	font-family:"dinbold";
	text-transform:uppercase;
	margin-right:10px;
}

#footer .footerContact p strong, #footer .footerSocial p strong {
	color:#f00000;
	padding-right:5px;
}

#footer .footerContact p a:hover, #footer .footerSocial p a:hover {
	color:#f00000;
}

#footer .footerSocial .social {
	float:left;
	font-family:"lubalin";
	margin-left:0;
	margin-right:17px;
	color:#666;
	text-align:left;
}

.nl #footer .footerSocial .social {
	margin-right:40px;
}

#footer .footerSocial .social a {
	display:inline;
	float:right;
	text-align:left;
	text-indent:-999em;
	overflow:hidden;
	height:24px;
	width:68px;
	margin-top:-6px;
	margin-left:5px;
}

#footer .footerSocial .social.facebook {
	width:180px;
}

.nl #footer .footerSocial .social.facebook {
	width:185px;
}

#footer .footerSocial .social.facebook a {
	margin-top:-7px;
	background:url(../images/sprites.png) -68px -24px no-repeat;
}

#footer .footerSocial .social.facebook a:hover {
	background:url(../images/sprites.png) -68px 0 no-repeat;
}

#footer .footerSocial .social.linkedin {
	width:180px;
}

.nl #footer .footerSocial .social.linkedin {
	width:160px;
}

#footer .footerSocial .social.linkedin a {
	background:url(../images/sprites.png) 0 -24px no-repeat;
}

#footer .footerSocial .social.linkedin a:hover {
	background:url(../images/sprites.png) 0 0 no-repeat;
}

#footer .footerSocial .social.pinterest {
	width:212px;
}

.nl #footer .footerSocial .social.pinterest {
	width:174px;
}

#footer .footerSocial .social.pinterest a {
	width:78px;
	background:url(../images/sprites.png) 0 -386px no-repeat;
}

#footer .footerSocial .social.pinterest a:hover {
	background:url(../images/sprites.png) 0 -411px no-repeat;
}

#footer .footerSocial .social.twitter {
	width:190px;
	margin-right:0;
	float:right;
}

.nl #footer .footerSocial .social.twitter {
	width:175px;
}

#footer .footerSocial .social.twitter a {
	background:url(../images/sprites.png) -78px -386px no-repeat;
}

#footer .footerSocial .social.twitter a:hover {
	background:url(../images/sprites.png) -78px -411px no-repeat;
}

#footer .footerContact .social {
	float:right;
	font-family:"lubalin";
	margin-right:0;
	margin-left:20px;
	width:185px;
	color:#666;
	text-align:right;
}

#footer .footerContact .social a {
	display:block;
	float:right;
	text-align:left;
	text-indent:-999em;
	overflow:hidden;
	height:24px;
	width:68px;
	margin-top:-6px;
	margin-left:5px;
}

#footer .footerContact .social .facebook {
	margin-top:-7px;
	background:url(../images/sprites.png) -68px -24px no-repeat;
}

#footer .footerContact .social .facebook:hover {
	background:url(../images/sprites.png) -68px 0 no-repeat;
}

#footer .footerContact .social .linkedin {
	background:url(../images/sprites.png) 0 -24px no-repeat;
}

#footer .footerContact .social .linkedin:hover {
	background:url(../images/sprites.png) 0 0 no-repeat;
}

#footer .legals {
	clear:both;
	background:#000;
	margin:0 -48px -48px -48px;
	padding:10px 10px 100px 10px;
	text-align:right;
	font-size:10px;
	font-family:"dinbold";
	color:#333;
}

#footer h6 {
	position:relative;
	top:-48px;
	left:-48px;
	width:915px;
	height:50px;
	background:#000;
	color:#f00000;
	font-family:"lubalinthin";
	text-transform:uppercase;
	font-size:38px;
	padding:0 0 10px 0;
}

#footer h6 span {
	display:block;
	position:absolute;
	left:90px;
	bottom:-16px;
	width:87px;
	height:25px;
	background:url(../images/sprites.png) 0 -116px no-repeat;
}

#content .citation {
	position:absolute;
	top:50px;
	right:-20px;
}

#content .citation p {
	float:left;
	font-family:"dinbold";
	font-size:20px;
	line-height:20px;
	text-transform:uppercase;
	color:#fff;
}

#content .citation p strong {
	color:#f00;
}

#content .citation p em {
	color:#b3b3b3;
	font-size:12px;
}

.clients #content .citation {
	padding-right:45px;
	margin-top:10px;
}

.portfolio #content .citation {
	padding-top:15px;
}

.popinContainer {
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	background:url(../images/black-50.png) repeat;
	z-index:999;
}

.popinContainer .popin {
	position:absolute;
	top:-50%;
	left:50%;
	padding:40px;
	height:200px;
	width:390px;
	margin:-140px 0 0 -235px;
	background:url(../images/footer-patern.png) repeat;
	border:1px solid #f00000;
	-webkit-box-shadow:10px 10px 20px rgba(0, 0, 0, 0.50);
	-moz-box-shadow:10px 10px 20px rgba(0, 0, 0, 0.50);
	box-shadow:10px 10px 20px rgba(0, 0, 0, 0.50);
}

.nl .popinContainer .popin {
	height:220px;
}

.popinContainer .popin .close {
	display:block;
	cursor:pointer;
	font-family:"dinbold";
	color:#f00;
	position:absolute;
	top:0;
	right:0;
	font-size:14px;
	padding:15px;
}

.popinContainer .popin h6 {
	color:#f00;
	font-family:"lubalinthin";
	font-size:27px;
	padding-bottom:40px;
	text-transform:uppercase;
}

.popinContainer .popin form {
	font-size:0;
}

.popinContainer .popin form input {
	padding:5px;
	border:1px solid #f00;
	background:#300;
	color:#f00;
	text-transform:uppercase;
	font-family:"dinbold";
	width:300px;
	margin-bottom:20px;
}

.popinContainer .popin form .forget {
	font-size:12px;
	float:left;
	padding-top:15px;
	font-family:"din";
	color:#f00;
}

.popinContainer .popin form input#login-password {
	margin-bottom:30px;
}

.popinContainer .popin form .forget:hover {
	text-decoration:underline;
}

.popinContainer .popin form .button {
	font-size:12px;
	float:right;
	cursor:pointer;
}

.popinContainer .popin .errorMessage {
	display:none;
	clear:both;
	color:#f00;
	font-family:"lubalinthin";
	font-size:20px;
	padding:20px 0;
	text-align:center;
}

.popinContainer .popin .errorMessage .retour {
	display:block;
	margin:0 auto;
	padding:30px 0 0 0;
	font-size:14px;
}

.popinContainer .popin .errorMessage .retour:hover {
	color:#f00;
}

.pagenotfound #header .button {
	float:right;
}

.pagenotfound #content {
	width:1024px;
	height:415px;
	position:relative;
	background:url(../images/404-bg.jpg) center 20px no-repeat;
}

.pagenotfound #content h1, .pagenotfound #content h2, .pagenotfound #content a {
	margin-left:480px;
}

.pagenotfound #content h1, .pagenotfound #content h2 {
	font-family:"lubalin";
	color:#f00;
	text-transform:uppercase;
	text-shadow:0 0 30px #000;
}

.pagenotfound #content h1 {
	padding-top:130px;
	font-size:75px;
}

.pagenotfound #content h2 {
	font-family:"lubalinthin";
	font-size:75px;
	padding-bottom:5px;
	padding-left:2px;
}

.pagenotfound #content p {
	padding-left:6px;
}

.pagenotfound #content a {
	font-family:"dinbold";
	color:#f00;
	font-size:10px;
	text-transform:uppercase;
}
 
.isotope-item {
	z-index:2;
}

.isotope-hidden.isotope-item {
	pointer-events:none;
	z-index:1;
}

.isotope, .isotope .isotope-item {
	-webkit-transition-duration:.8s;
	-moz-transition-duration:.8s;
	transition-duration:.8s;
}

.isotope {
	-webkit-transition-property:height, width;
	-moz-transition-property:height, width;
	transition-property:height, width;
}

.isotope .isotope-item {
	-webkit-transition-property:-webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	transition-property:transform, opacity;
}

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	transition-duration:0s;
}

.isotope.infinite-scrolling {
	-webkit-transition:none;
	-moz-transition:none;
	transition:none;
}


